.product-card {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.product-img-main {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.thumb-img {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0,0,0,.05);
    cursor: pointer;
    margin-right: 8px;
}

.price-box {
    background: #fafafa;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.old-price {
    text-decoration: line-through;
    color: #929292;
    font-size: 1rem;
}

.new-price {
    color: #ee4d2d;
    font-size: 1.875rem;
    font-weight: 500;
}

.discount-badge {
    background: #ee4d2d;
    color: #fff;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
}

.food-label {
    width: 110px;
    color: #757575;
    font-size: 14px;
    flex-shrink: 0;
}

.variant-option {
    border: 1px solid rgba(0,0,0,.09);
    padding: 8px 12px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    transition: 0.2s;
}


    .variant-option:hover {
        border-color: #28a745;
        color: #28a745;
    }

.btn-add-cart {
    color: #28a745;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
}

    .btn-add-cart:hover {
        border-color: #000000 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

.btn-buy-now {
    color: #fff;
    padding: 12px 40px;
    border: none;
    transition: all 0.3s ease-in-out;
}

    .btn-buy-now:hover {
        border-color: #000000 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
