@model Application.DataTransferObjects.Authen.LoginDto
@{
	ViewData["Title"] = "Đăng nhập";
}
<link rel="stylesheet" href="/css/Login.css" asp-append-version="true" />
<div class="wrapper">
	<div class="form-box login">
		<h2>Đăng nhập</h2>
		<form asp-controller="Authen" asp-action="Login" method="post">
			<div class="input-box">
				<span class="icon"><i class="bi bi-envelope-heart-fill"></i></span>
				<input type="email" name="Email" required />
				<label>Email</label>
			</div>
			<div class="input-box">
				<span class="icon"><i class="bi bi-shield-lock-fill"></i></span>
				<input type="password" name="Password" required />
				<label>Mật khẩu</label>
			</div>
			<div class="remember-forgot">
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					Nhớ mật khẩu
				</label>
				<a href="#" class="forgot-link">Quên mật khẩu?</a>
			</div>
			<button type="submit" class="btn text-light">Đăng nhập</button>
			<div class="login-register">
				<p>
					Bạn chưa có tài khoản?
					<a href="#" class=" register-link">Tạo tài khoản</a>
				</p>
			</div>
		</form>
	</div>
</div>