@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}
<link href="/css/Product.css" rel="stylesheet" asp-append-version="true" />
<div class="container mt-4">
    <div class="product-card">
        <div class="row">
            <div class="col-md-5">
                <img src="/img/mi_cay_hai_san.jpg" class="product-img-main" id="mainImg" />
                <div class="d-flex mt-3">
                    <img src="/img/mi_cay_hai_san.jpg" class="thumb-img" />
                    <img src="/img/mi_cay_hai_san.jpg" class="thumb-img" />
                </div>
            </div>

            <div class="col-md-7 ps-md-4">
                <h4 class="fw-normal mb-3">Gấu Bông Chuột dễ thương size 45cm, Thú nhồi bông hình chuột quà tặng ngộ nghĩnh</h4>

                <div class="d-flex align-items: center gap-3 mb-3 text-muted border-bottom pb-3">
                    <span class="text-warning">4.8 ⭐⭐⭐⭐⭐</span>
                    <span class="border-start ps-3">357 Đánh giá</span>
                    <span class="border-start ps-3">1k+ Đã bán</span>
                </div>

                <div class="price-box mb-4">
                    <span class="old-price">99.000₫</span>
                    <span class="new-price">55.000₫</span>
                    <span class="discount-badge">39% GIẢM</span>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <div class="food-label-label">Vận Chuyển</div>
                    <div class="small">
                        <span class="text-muted">Vận chuyển đến: Quận 1, TP. Hồ Chí Minh</span>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <div class="food-label">Phân Loại</div>
                    <div class="d-flex gap-2">
                        <button class="variant-option">Chuột xám</button>
                        <button class="variant-option">Chuột trắng</button>
                    </div>
                </div>

                <div class="d-flex gap-3 mt-5">
                    <button class="btn-add-cart btn btn-outline-light text-bg-success">
                        <i class="bi bi-cart-plus me-2"></i> Thêm Vào Giỏ Hàng
                    </button>
                    <button class="btn-buy-now btn btn-outline-light text-bg-success">Mua Ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>